

h1 {
    background-color: #5577aa;
}

div.description table {
    width: 100%;
}

div.description table th {
    text-align: left;
    background-color: #5577aa;
}

div.description table td {
    width: 200px;
}

div.description h4 {
    color: #5577aa;
}

td.title {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    background-color: #99bbee;
}

div.attributes table.attributes {
    width: 100%;
}

div.attributes table.attributes th {
    text-align: left;
    background-color: #5577aa;
}

div.attributes table.attributes td {
}

table.damage {
}

table.damage tr th {
    background-color: #5577aa;
    text-align: left;
    padding-right: 10px;
    font-weight: normal;
}

table.damage tr td {
}

table.mounts {
    width: 100%;
}

table.mounts th {
    text-align: left;
}